#   GIT ALIASES
alias gl="git log --graph --pretty=oneline --abbrev-commit"
alias glc="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs="git status"
alias gp="git push"
alias gpl="git pull"
alias nah="git reset --hard && git clean -df"
alias wip="git add . && git commit -m 'wip'"
alias bfc="wip && gp"
alias stash="git stash -u"
alias pop="git stash pop"
alias uncommit="git reset --soft HEAD~1"
alias main='git checkout $([ `git rev-parse --quiet --verify master` ] && echo "master" || echo "main")'

# Directories
alias dotfiles="cd $DOTFILES"
alias library="cd $HOME/Library"
alias sites="cd $HOME/Sites"
alias packages="cd $HOME/Packages"
alias desktop="cd $HOME/Desktop"
alias downloads="cd $HOME/Downloads"

# PHP
alias cfresh="rm -rf vendor/ composer.lock && composer i"
alias cda="composer dump-autoload -o"
alias cgu="composer global update"
alias php74="brew unlink php@7.4 && brew unlink php@8.1 && brew unlink php@8.2 && brew unlink php@8.3 && brew unlink php && brew link php@7.4"
alias php81="brew unlink php@7.4 && brew unlink php@8.1 && brew unlink php@8.2 && brew unlink php@8.3 && brew unlink php && brew link php@8.1"
alias php82="brew unlink php@7.4 && brew unlink php@8.1 && brew unlink php@8.2 && brew unlink php@8.3 && brew unlink php && brew link php@8.2"
alias php83="brew unlink php@7.4 && brew unlink php@8.1 && brew unlink php@8.2 && brew unlink php@8.3 && brew unlink php && brew link php@8.3"
alias php84="brew unlink php@7.4 && brew unlink php@8.1 && brew unlink php@8.2 && brew unlink php@8.3 && brew unlink php && brew link php"

# JS
alias nfresh="rm -rf node_modules/ package-lock.json && npm install"

#   LARAVEL ALIASES
alias art="artisan"
alias amf="art migrate:fresh"
alias amd="amf db:seed"
alias sqlit="sed -e 's/\(DB_.*\)/# \\1/g' -e 's/# \(DB_CONNECTION=\).*/\\1sqlite/g' -i .env"
alias lenv="cp -n .env.example .env && (grep '^APP_KEY=.\+' .env > /dev/null || artisan key:generate)"
alias laravel-setup="composer install && lenv && sqlit && artisan migrate --force --seed"
alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'
alias pint='vendor/bin/pint'

#   USEFUL ALIASES
alias myip="curl http://ipecho.net/plain; echo"
alias cls="clear && clear"
alias copyssh="pbcopy < $HOME/.ssh/id_ed25519.pub"
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'
alias buu="brew update && brew upgrade"
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
alias zz="z "
alias cat="bat"
alias takeout="docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -it tighten/takeout:latest"

#   ZSH ALIASES
alias ec="nano $HOME/.zshrc"
alias sc="source $HOME/.zshrc"